{%extends 'awards/base.html'%}
{%load ratings %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container d-flex justify-content-center" style="margin-top: 100px;">
    <div class="row reduce__card pt-5">
        <div class="col ui piled raised segment ">
            <div class="my-3">
                <img src="{{post.image.url}}" class="img-fluid mb-3" alt="simps">
                <h6><span class="upper"> {{post.project_name}}</span></h6>
                <div class="linked float-end">
                    <a href="{{post.url}}"  data-inverted="" data-tooltip="Visit live link"  target="_blank"><i class="linkify large  icon "></i></a>

                </div>

                <p class="my-3">{{post.description}}</p>
            </div>
            <div class="content">
                {% if request.user == post.author %}            

                <div class="float-end">

                    <a style="text-decoration: none; color: red;" href="{% url 'deletepost' post.id %}"><i class="trash alternate large icon"></i></a>
                    <a  style="text-decoration: none; color: black;"  href="{% url 'updatepost' post.id %}"> <i class="edit large icon"></i> </a>

                    </div>
                    {% else %}
                    {% endif %}
              

            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
            <div class="mt-5">
                <form action="{% url 'rate_project' post.id%}" method="post" enctype="multipart/form-data"
                    class="choice-form">
                    <h5>RATE THIS SITE</h5>
                    {% csrf_token%}
                    {% bootstrap_form form %}
                    <div class="form-group  text-center">
                        <input type="submit" class="m-4 btn btn-primary login-btn" value="RATE">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
    

        </div>
        
    </div>
</div>
{%endblock%}