<footer class="page-footer font-small bg-light" >


    <div style="background-color: rgba-grey-slight;">
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="/"> Albright.Human</a>
        </div>
        <div class="footer-copyright text-center py-3">
            <a href="https://www.facebook.com/albright.human/" target="_blank"><i class="fab fa-facebook-square fa-2x">Facebook</i></a>
            <a href="https://www.instagram.com/albright.human/" target="_blank"><i class="fab fa-instagram fa-2x">Instagram</i></a>
            <a href="https://www.linkedin.com/in/albright-human-0a9b7b1a4/" target="_blank">LinkedIn<i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://twitter.com/albright_human" target="_blank"><i class="fab fa-twitter-square fa-2x">Twitter</i></a>

        </div>
    </div>


</footer>